---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="construction" id="swup" class="transition-fade">
      <h1>🚧 Under Construction 🚧</h1>
      <h2>Check back later for cool stuff!</h2>
      <a class="underline" href="/">Go back /home</a>
    </div>
    <script src="../scripts/swup.js"></script>
  </body>
</html>

<style lang="scss">
  .construction {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    a {
      display: inline-block;
      font-size: 1.5rem;
      text-decoration: none;
      font-weight: 600;
      font-family: 'Hind', sans-serif;

    }
    h1, h2, a {
      margin: 0.5rem;
      text-align: center;
    }
    h1 {
      font-size: 3rem;
    }
  }
</style>