---
export interface Props {
  description: string;
  image: string;
  title: string;
  link: string;
}

const { description, image, title, link } = Astro.props;
---

<a class="card" href={link}>
  <img class="card-img" src={image}/>
  <h2 class="card-header">{title}</h2>
  <p class="card-desc">
    {description}
  </p>
  <p class="card-extra">
    Read More
    <span class="card-arrow">➤</span>
  </p>
</a>

<style lang="scss">
  .card {
    color: inherit;

    .card-img {
      width: 100%;
      border-radius: 8px;
      transition: all 0.25s ease-out;
    }

    .card-header, p {
      margin: 0;
    }
    span {
      margin-top: 0.25rem;
    }

    .card-arrow {
      display: inline-block;
      transform: translateY(1px);
      transition: all 0.25s ease-out
    }

    .card-extra {
      color:#404040;
    }

    &:hover {
      .card-arrow {
        transform: translateX(4px)translateY(1px);;
      }
      
      .card-img {
        transform: translateY(-4px);
        filter: brightness(1.05);
        box-shadow: 0 2px 4px black;
      }
    }
  }
</style>